# Loops:-

- Loops mean repeat or repetation of code.

### * While loop :-

. it cheak the condition multiple times.
. Till condotion is satisfied repeated the code of bloack.

In [1]:
x = 1
while x < 5:
    print('python')
    x = x+1

python
python
python
python

In [2]:
# for printing the number 1 to 10
x = 1
while x < 11:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10

In [3]:
x = 1
while x < 5:
    print(x)
    if x== 5:
        break
    x=x+1
    print('srk')

1
srk
2
srk
3
srk
4
srk

In [4]:
x = 1
while x < 5:
    print(x)
    if x == 5:
        break   # come out to the loop OR brake the loop.
    x = x + 1
    print('srk')

1
srk
2
srk
3
srk
4
srk

In [1]:
x = 1
while True:
    x = x+10
    print(x)
    if x > 50:
        break

11
21
31
41
51

In [2]:
s = 0
while True:
    a = eval(input('enter the value :'))
    s = s+a
    if s > 1000:
        break

enter the value : 500
enter the value : 100
enter the value : 180
enter the value : 140
enter the value : 60
enter the value : 40

In [3]:
# Q :- ask user to enter value and store them in a list.

In [17]:
print('Enter your value. Once all entries are completed, please enter 5 to stop.')

l = []
while True:  # infinite until break
    i = input('Enter the values: ')
    if i == '#':  # Compare as string
        break
    j = int(i)
    l.append(j)

print(l)

Enter your value. Once all entries are completed, please enter 5 to stop.

Enter the values:  1
Enter the values:  2
Enter the values:  3
Enter the values:  4
Enter the values:  5
Enter the values:  #

[1, 2, 3, 4, 5]

In [18]:
print('Enter your value. Once all entries are completed, please enter 5 to stop.')

l = []
while True:
    i = int(input('Enter the values: '))  # Convert input here
    if i == 5:
        break
    l.append(i)

print(l)

Enter your value. Once all entries are completed, please enter 5 to stop.

Enter the values:  12
Enter the values:  23
Enter the values:  4
Enter the values:  3
Enter the values:  5

[12, 23, 4, 3]

In [3]:
# Q :- ask user to enter any 5 values do the sum of the values.

x = 1
s = 0
while x <= 5:
    i = eval(input('enter the values :'))
    s = s+i
    x = x+1

print('The sum of Enters number is :', s)

enter the values : 12
enter the values : 2
enter the values : 3
enter the values : 1
enter the values : 5

The sum of Enters number is : 23

In [2]:
x = 1
s = 0
while x <= 5:
    i = int(input('Enter the value: '))
    s = s + i
    x = x + 1

print("Sum of the values is:", s)

Enter the value:  4
Enter the value:  54
Enter the value:  1
Enter the value:  2
Enter the value:  3

Sum of the values is: 64

In [14]:
# Q:- Ask user to enter the values to do the sum of values ?
print('enter your values onece all entries are completed please enter #')
s  = 0
while True :
    i = input('enter the values : ')
    if i== '#':
        break
    s = s+int(i)

print('The total sum is : ', s)

enter your values onece all entries are completed please enter #

enter the values :  12
enter the values :  2
enter the values :  12
enter the values :  #

The total sum is :  26

# For Loop :-

- loop:- repeting the code .
- while :- till condition satisfied.
- while loop :- Till condition is satisfied repeat the code.
- for :- for each values in seqence.
- for loop:-for each values in seqence repeating the bloak of code.
- sequence :- str, list , tuple , set, dict ,rang,

syntax :- for varaible name in sequance.

In [18]:
l = [1,2,3,4,5,6]
for i in l:
    print( "ds")

ds
ds
ds
ds
ds
ds

In [16]:
l = [1,2,3,4,5,6]
for i in l:
    print(i, "ds")

1 ds
2 ds
3 ds
4 ds
5 ds
6 ds

In [17]:
l = [10,'a', 30, 40]
for i in l:
    print(i)

10
a
30
40

In [19]:
st = "data"
for i in st:
    print(i)

d
a
t
a

In [20]:
l = [1,2,3,[4,5]]
for i in l :
    print(i)

1
2
3
[4, 5]

In [24]:
l = (1,2,3,[4,5])
for i in l :
    print(i)

1
2
3
[4, 5]

In [23]:
# set
l = {"a",2,3,"b",5,6,"abc", (1,2,3)}
for i in l:
    print(i)

2
3
5
a
6
(1, 2, 3)
abc
b

### range :- it is a function.It gives the integer in the given range range like slicing.

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(2,10,2))

[2, 4, 6, 8]

In [28]:
list(range(10,2,-2))

[10, 8, 6, 4]

In [29]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# Even number
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
list(range(0,21,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [34]:
list(range(10,2))

[]

In [35]:
# if there is no posibility or wrong it will print empty string.

In [36]:
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [38]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [40]:
l = [10,11,14,16,17,19]
for i in (0,1,-1):
    print(l[i])

10
11
19

In [51]:
# Q :- if i have to calculate male or femal dara.
l = ['M','F','F','F','M','M','M']
s = []
for i in l:
    if i== 'F':
        s.append(i)
           
print(s)
len(s)

['F', 'F', 'F']

3

In [52]:
l = ['M','F','F','F','M','M','M']
s = []
for i in l:
    if i== 'F':
        s.append(i)      
    print(s)
    len(s)      
# This is incorrect

[]
['F']
['F', 'F']
['F', 'F', 'F']
['F', 'F', 'F']
['F', 'F', 'F']
['F', 'F', 'F']

In [53]:
l = []
for i in range (0,20):
    l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [54]:
# OR with the help of range

In [55]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
l = [10,20,30,40]
s = 0
for i in l :
    s = s+i

print(s)

100

In [57]:
l  =[10,20,30,40]
s = 0
for i in range (0,4):
    s = s+l[i]

print(s)

100

In [60]:
print('Enter value once it is completed enter # ')
s = 0
for i in range(1,100):
    n = input('enter the number :')
    if n == '#':
        break 
        s = s+int(n)
        
print(s)

Enter value once it is completed enter #

enter the number : 21
enter the number : 22
enter the number : 34
enter the number : 23
enter the number : #

0

In [61]:
l = [1,2,3,4,5,6,7,8,9]
l.remove(1)
l.remove(2)
l.remove(7)
l.remove(9)
print(l)

[3, 4, 5, 6, 8]

In [62]:
# with the help of loop
l = [1,2,3,4,5,6,7,8,9]
for i in [1,2,7,9]:
    l.remove(i)

print(l)

[3, 4, 5, 6, 8]

In [64]:
s = {1:25, 'a': 90}
print(s.items())

dict_items([(1, 25), ('a', 90)])

In [65]:
s= {1:25, 'a':90}
for i in s.keys():
    print(i)

1
a

In [66]:
# Now for values
d = {1:25, 'a':90}
for i in d.values():
    print(i)

25
90

In [3]:
d = {1:25, 'a':[25,35]}
for i in d.values():
    print(i)

25
[25, 35]

In [4]:
# Q write a program to collect 5 number from user and list the even number ?
l = []
for i in range(1,6):
    i=eval(input('Enter the values'))
    if i%2 == 0:
        l.append(i)

print(l)

Enter the values 23
Enter the values 24
Enter the values 12
Enter the values 5
Enter the values 4

[24, 12, 4]

In [7]:
# Q:- Write a program to collect 5 number from user & store them in a list ?
l = []
for i in range(5):
    i = int(input('Enter the number :'))
    l.append(i)

print('The list of 5 number which you have entered :', l)

Enter the number : 12
Enter the number : 32
Enter the number : 33
Enter the number : 23
Enter the number : 2

The list of 5 number which you have entered : [12, 32, 33, 23, 2]

In [9]:
# Q :- Write a program that gives even & odd number in a list ?
l = [10,12,13,14,19,17]
el = []
ol = []
for i in l :
    if i%2 == 0 :
        el.append(i)
    else :
        ol.append(i)

print("List of even number :", el)
print("List of odd number :" , ol)

List of even number : [10, 12, 14]
List of odd number : [13, 19, 17]

In [10]:
# Q :- Write a program for sum of number in a list ?
l = [1,2,3,4,5]
s = 0
for i in l:
    s = s + i

print(s)

15

In [12]:
# Q :- Write a program that gives evan number and odd number sum in the list ?
l = [10,12,13,14,19,17]
es = 0
os = 0
for i in l :
    if i % 2 == 0:
        es = es + i
    else:
        os  = os +i

print('sum of even number :', es)
print('sum of  odd number :', os)

sum of even number : 36
sum of  odd number : 49

In [13]:
# Q :- wirte a multipllivation Table of 2 using for loop ?
for i in range(1,11):
    print(2 ,"*", i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [15]:
 # Q:- Ask user to multiplication Table ?
# Ask the user for a number
num = int(input("Enter a number to print its multiplication table: "))

# Print the multiplication table
print(f"Multiplication table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its multiplication table:  5

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# * Break :-

-it will stop the loop.

In [16]:
l = [1,2,3,4]
for i in l :
    print(i)
    if i== 4:
        print('ds')
        break # here we are using break in the last and number also have finished there is no use.

1
2
3
4
ds

In [17]:
l = [1,2,3,4,5]
for i in l :
    print(i, end =" ")

1 2 3 4 5

In [18]:
print("Plese enter only a number : ")
s = 0
for i in range(1,100):
    n = int (input('Enter the number :'))
    s = s + n
    if s > 50:
        break

print(s)

Plese enter only a number :

Enter the number : 12
Enter the number : 32
Enter the number : 11

55

# * continue :-

. go to next item or (be continue)

In [20]:
l =[1,2,3,4]
for i in l:
    if i==2:
        print(i)
        continue

2

- Break :- come out of loop or stop 
- continue :- go to next loop or step or donot stop.

In [23]:
l = [1,2,3,4]
for i in l :
    if i==5:
        break
    else:
        print('Loop execute without any break')

Loop execute without any break
Loop execute without any break
Loop execute without any break
Loop execute without any break

In [25]:
l = [1,2,3,4]
for i in l :
    print(i)
    if i == 4:
        break
    else:
        print('Loop execute without any break')

1
Loop execute without any break
2
Loop execute without any break
3
Loop execute without any break
4

In [26]:
for i in range (1,5):
    print(i)
else:
    print('Pyrhon')

1
2
3
4
Pyrhon

# * Nested Loop :-

In [27]:
for i in range (1,3):
    for j in range(2,4):
        print(i,j)

1 2
1 3
2 2
2 3

In [28]:
i = 1 
for i in range(2,4):
    print(i,j)

2 3
3 3

In [29]:
i = 2
for i in range (2,4):
    print(i,j)

2 3
3 3

In [34]:

for i in range(2):
    for j in range(3,8):
        if s==6:
            break
        print(s)

55
55
55
55
55
55
55
55
55
55

In [36]:
for i in range(3):
    for j in range(2):
        print('i=', i, "j=",j)
        if j==1:
            break

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

--------Loops--------end--------------