## * Advanced data type

#if we want to store more than one value in a single object so for that we will use advanced datatype

# list data type
# tuple data type
# set data type
# Dictionary data type
# advanced data type is also called as--->container--->Data Structure

In [1]:
# integer:- numrical value with no decimal

In [2]:
a = 10
print(a)

10

In [3]:
type(a)   # this function for cheacking type

int

In [4]:
id(a)   # this for cheaking id

140722066893528

### Int, float, string, bool--> is immutable
### immutable---> we can not replace add or modify the data

In [6]:
a = 45
print(a)

45

In [7]:
id(a)

140722066894648

### mutable---> we can add modify and change the value of orignol object/variable

In [9]:
# list is a Advanced datatype
list 
l = [1,2,3,4,5]
id(l)

2902384103424

In [10]:
print(l)

[1, 2, 3, 4, 5]

In [11]:
id(l)

2902384103424

In [13]:
l.clear()   # to this function all list have cleard

In [14]:
print(l)

[]

In [15]:
# Float---> numerical value with decimol
b = 3.99
print(b)

3.99

In [16]:
type(b)

float

In [17]:
# boolean(bool)----> for True or False

In [18]:
b1 = True
print(b1)

True

In [19]:
type(b1)

bool

In [20]:
id(b1)

140722065767296

In [21]:
# String----> Combination or sequance of charector(like Text, letter, alphabate)

In [22]:
mystring1 = 'Hello'
print(mystring1)

Hello

In [23]:
mystring2 = 'Hello'

In [24]:
print(mystring2)

Hello

In [25]:
var1  = 123
type(var1)

int

In [26]:
var2 = '123'   # becuse we used cots ' ' here
type(var2)

str

In [29]:
# length of string
string = "Hello"   # len function is aplicable for string only
len(string)  # with the help of len function we count lenght

5

In [41]:
c = 1,2,3,4,5,6,7,8,9,10
len(c)

10

In [38]:
far = 'farmer'
len(far)

6

# convering one format to other format is called typecsting

In [53]:
# f string ----> mean fill
num =  23 
name = "arshad"
print(f"my number is : {num} and my name is:{name}")

my number is : 23 and my name is:arshad

In [52]:
num = 12
name = 'sam'
print(f"my number is : {num} and my name is:{name}")

my number is : 12 and my name is:sam

### another way

In [54]:
num = 33
name = 'laksh'
f"my number is : {num} and my name is : {name}"

'my number is : 33 and my name is : laksh'

### another way

#### string concatenation----> joing two string in sigle varialbe is called string cncatenation

In [60]:
name1 = 'same'
name2 = 'curan'
name3 = name1+name2

In [61]:
print(name3)

samecuran

In [63]:
#if we want spaces
name = "Arshad"
surname = "Khan"
fullname = name+" "+surname
print(fullname)

Arshad Khan

In [68]:
work = "python "
job  = "devolaper"
location = work+' '+job

In [71]:
print(location)

python  devolaper

In [72]:
work = "data "
job  = "analyst"
location = work+' '+job
print(location)

data  analyst

#### typecasting---->converting one datatype to another is called type casting

In [95]:
int = 24

In [96]:
int

24

In [97]:
float(24)

24.0

In [98]:
bool(24)

True

In [99]:
bool(0)  # zero consider as False in bool

False

In [100]:
bool(1)  # one is consider as a True in bool

True

In [101]:
str(24)

'24'

In [105]:
float(True)

1.0

In [106]:
float(False)

0.0

In [107]:
str(True)

'True'

In [109]:
str(False)

'False'

# String

In [111]:
float('1.34')

1.34

In [112]:
bool('123')

True