In [ ]:
# append():- Now it is Function.
# list.append():- Now it is methode.

# List

## * list.insert():-

- used to insert a item in a specific index position.
- list.insert(x,y) will add element item at 'y'  location index number 'x'.
 syntex:- list.insert(index number, item)

In [2]:
lst = [11,12,13,14]
lst.insert(1,'srk')
print(lst)

[11, 'srk', 12, 13, 14]

In [3]:
# it add the element on specific place but does not remove item which alredy threre.

In [4]:
lst = ['srk', 'is', 'no']
lst.insert(3, 1)
print(lst)

['srk', 'is', 'no', 1]

In [7]:
lst=[11,12,34,14,45,16]
lst.insert(2,13)
print(lst)

[11, 12, 13, 34, 14, 45, 16]

In [8]:
name = ['A','S','H','A','D']
name.insert(1,'R')
print(name)

['A', 'R', 'S', 'H', 'A', 'D']

In [9]:
name = ['srk','is','no',1]
name.insert(1,'sir')
print(name)

['srk', 'sir', 'is', 'no', 1]

## * list.Remove():-

- used to removed item based on value.
- If value repeat, it remove the first one only (which is 1st).

In [12]:
l = [10,20,30,40,10,[25,30],'srk']
len(l)

7

In [13]:
l.remove('srk')

In [14]:
l
# we removed srk from here

[10, 20, 30, 40, 10, [25, 30]]

In [15]:
l.remove(10)
l

[20, 30, 40, 10, [25, 30]]

In [17]:
name = [1,2,3,4,'khan',[22,33]]
name.remove('khan')
name

[1, 2, 3, 4, [22, 33]]

In [18]:
name.remove('khan',4)  # it can remove only one at a time

TypeError: list.remove() takes exactly one argument (2 given)

In [19]:
name

[1, 2, 3, 4, [22, 33]]

In [23]:
# suppose i have to remove 33
name.remove([25,33])
name

ValueError: list.remove(x): x not in list

So for that we have pop() methode:-

## * list.pop():-

- Used to remove item based on index number.
- If user did not pass any number by default it will take '-1' index.
syntex :- list.pop(index number)

In [25]:
l = [10,20,30,40,50,60]
l.pop()
l   # it will remove bydefault last one.becuse user did not pass anynumber

[10, 20, 30, 40, 50]

In [26]:
l.pop(0)
l

[20, 30, 40, 50]

In [30]:
# i want remove 22
name = [1,2,3,4,'khan',[22,33]]
name.pop(5)
name

[1, 2, 3, 4, 'khan']

In [29]:
nm = [1,2,3,'arshad', 66]
nm.pop(3)
nm

[1, 2, 3, 66]

## * list.clear():-

- Used to clear all iteam in a list return empty list.
- Inside the value in a list will delete.

In [35]:
a = [1,2,3,4]
a.clear()
print(a)

[]

In [36]:
a

[]

In [38]:
b=['Arshad ','khan']
b.clear()
print(b)

[]

### * del :-

- it will remove the entire object.

In [39]:
a = [1,2,3,4,5]
del a
print(a)

NameError: name 'a' is not defined

Becuse del function removed it from the memory.

### * list.count():-

- it will count howmany times iteams(repeat) in the list.

In [44]:
l = [1,2,1,1,0,3,4,2,5,[2,3,4]]
l.count(100)

0

In [43]:
l.count(1)

3

In [45]:
l.count(2)

2

In [46]:
l.count([2,3,4])

1

### * list.reverse():-

- Used to reverse all iteam in a list.

In [47]:
l = [1,4,[9,10,2,6]]
l.reverse()
l

[[9, 10, 2, 6], 4, 1]

In [48]:
l = [11,12,13,14,15,16,17,18]
l.reverse()
l

[18, 17, 16, 15, 14, 13, 12, 11]

In [49]:
l =['D', 'A', 'H','S','R','A']
l.reverse()
l

['A', 'R', 'S', 'H', 'A', 'D']

In [50]:
l = [1,4,[9,10,2,6]]
l[-1].reverse()

In [51]:
l
# here -1 index number would be removed

[1, 4, [6, 2, 10, 9]]

### * list.sort():-

- Used to sort iteam in a list either in ascending order or decending order.
- bydefault its sort in ascending order(if user donot pass).
- Note:- sort is applicable for either only alphabate or only numeric values.

In [53]:
lst = [1,2,5,5,4.2]
lst.sort()
lst

[1, 2, 4.2, 5, 5]

In [54]:
lst = ['a', 's', 'm','z','b']
lst.sort()
lst

['a', 'b', 'm', 's', 'z']

In [55]:
lst =[22,66,12,1,15]
lst.sort()
lst

[1, 12, 15, 22, 66]

In [57]:
# Now lets see decending order
lst = [1,20,5,5,2.5]
lst.sort(reverse = True)
lst

[20, 5, 5, 2.5, 1]

In [58]:
no = [12,43,1,1.64,1.60, 22,2]
no.sort(reverse=True)
no

[43, 22, 12, 2, 1.64, 1.6, 1]

In [59]:
alphabtes = ['a', 'b', 'c','d']
alphabtes.sort(reverse=True)
alphabtes

['d', 'c', 'b', 'a']

In [61]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst.reverse()
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
name =['srk','siva', 'rama']
name.sort()
name

['rama', 'siva', 'srk']

Difference between l.sort() & sorted(list)
*)l.sort():-
- l=[4,9,2,16,5].
- l ist.sort():-(Methode)
- [2,4,5,9,16]
- print(l)
- [2,4,5,9,16].
- it will sort in originol 'L'

*)sorted (list):-
- l=[4,9,2,16,5].
- sorted(l):-(Function)
- [2,4,5,9,16]
- it wil not store in originol 'L' untill
  you give varible name.

In [65]:
lst = [1,20,5,4.2]
lst.sort()
lst

[1, 4.2, 5, 20]

##### here both example are here

In [66]:
lst = [1,20,5,4.2]
sorted (lst)

[1, 4.2, 5, 20]

### * list.copy():-

- used to create a new list object copy of iteam.

In [67]:
a = [1,2,3,4]
b = a
b.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [68]:
# but in shallow copy
a = [1,2,3,4]
b=a.copy()
b.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

- In pythone object are createded based on value based on variable name.
- In pythone for 1 value 1 object only name can be multiple

In [70]:
# shallow copy 
a = [1,2,3,4]
b=a.copy()
b.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [71]:
# deep copy
a =[1,2,3,4]
b = a
b.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [72]:
# Deep copy :- it indicate the same object 
a = [11,12,13,15]
b = a
b.append(4)
print(a)
print(b)

[11, 12, 13, 15, 4]
[11, 12, 13, 15, 4]

* inside the list object we can add 
  we can add := append(), extend(), insert()
  we can replace:= l [index number]= item 
  we can delete :=pop(), remove(), clear()