# * Set:-

Set con be used to perform mathamarical operation like Union, interseption,
syemetric differance etc.

In [1]:
# empty set
s= set()

In [2]:
s

set()

- Set is a unordered colletion of items.
- set is defined by item sepreted by comma inside kerli braces {}.
- set can store only immutable item.

In [3]:
s = {10,20,30,40,5}
print(s)

{20, 5, 40, 10, 30}

In [4]:
# It did not store in seqential ordered

In [5]:
# Immutable :-int , float, bool, tuple.
# Mutable :- list, set

In [6]:
s ={10, 1.4, True, 'Srk', (10,20)}
print(s)

{1.4, True, 10, 'Srk', (10, 20)}

In [7]:
s = {10,4,20,20,30,30,30,5}
print(s)

{4, 5, 20, 10, 30}

In [8]:
# it did not store duplicate
len(s)

5

Set does not support indexing becuse it is unordered colletion of item.

In [9]:
s = {10,10.5, True, 'srk', (1,2,3),25,36,(4,5)}
print(s)

{True, 'srk', 36, 10, 10.5, (1, 2, 3), (4, 5), 25}

# Set Methods

### * Set.add():-

- Add methode add an element to the set if element alredy
  exist in the set nothing will happend(and it will add only one item.)

In [10]:
s = {1,2,3}
s.add(4)

In [11]:
print(s)

{1, 2, 3, 4}

In [12]:
s  = {1,2,3}
s.add(3)  # becuse 3 is already in set. That's why it did not add it
s

{1, 2, 3}

### * set.update():-

for adding more item.
update methode update the set with another set or anyiterable.

In [13]:
s1  = {1,2,3}
s1.update(['srk',(4,5)])
print(s1)

{1, 2, 3, 'srk', (4, 5)}

In [14]:
s2 = {20,23}
s2.update(21)
print(s2)

TypeError: 'int' object is not iterable

In [15]:
s3 = {1,2,3,4}
s3.update([5])
s3     # here we add in list but in set

{1, 2, 3, 4, 5}

In [16]:
s4 = {1,2,3,4}
s4.add(5)
s4

{1, 2, 3, 4, 5}

In [18]:
s4 = {1,2,3,4}
s4.update([6])
s4

{1, 2, 3, 4, 6}

### Set.discard():-

. discard methode remove the speacial iteam from the set. If the item does not exist in the set. 
 nothing happend (it will remove one item.)

In [19]:
s = {1,2,3}
s.discard(2)
print(s)

{1, 3}

In [20]:
s1 = {22,323,55}
s1.discard(323)
print(s1)

{22, 55}

In [21]:
s3 = {1,2,3,4}
s3.discard(5)
print(s3)

{1, 2, 3, 4}

### * set.Remove():-

. it will remove specail item from the set. If the item does not exist 
  in the set a key erore is raised.

In [22]:
s = {1,2,3}
s.remove(2)
print(s)

{1, 3}

In [23]:
s2 ={22,23,45}
s2.remove(21)
print(s2)
# it will show key errore becuse there is no special carector in the set.
# which user passed.

KeyError: 21

In [24]:
s3 = {12,13,14,12}
s3.remove(12)
print(s3)

{13, 14}

### set .clear():-

. clear methode clear all the item in the set.

In [25]:
s = {1,2,3}
s.clear()
print(s)

set()

In [26]:
# it will remove the item.

In [27]:
s = {1,2,3}
del s
print(s)

NameError: name 's' is not defined

In [28]:
# but del fuction will remove the entire object

### Set.copy():-

. copy methode return the shallow copy of the set.
. change the copeid set does not affect the orignol set.
. shallow mean shadow

In [30]:
s1 = {1,2,3,4}
s2 = s1.copy()
s2.add(5)

In [31]:
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

List:-               Set;-
. add              . add
. remove           . remove
. replace
. indexing

### * Set.union():-

. This methode return a new set with item from both sets.

In [37]:
setA  = {1,2,3}
setB = {2,3,4}
setA.union(setB)

{1, 2, 3, 4}

In [38]:
# duplicate not alllow that is why it is removed.

In [39]:
a = {1,23,44}
b = {11,12,}
a.union(b)

{1, 11, 12, 23, 44}

### * Set.intersection():-

. Intersection methode return a new set with element that are 
  comman to all set.

In [42]:
Seta = {1,2,3}
Setb = {2,3,4}
Seta .intersection(Setb)

{2, 3}

In [43]:
A  = {22,23,24}
B  = {25,26,27}
A.intersection(B)
# if there is no comman item it will print empty set.

set()

In [44]:
a = {21,22,25}
b = {21,24,26}
a.intersection(b)

{21}

In [45]:
c = {1,2,3,4}
n = {1,2,3,4}
c.intersection(n)

{1, 2, 3, 4}

### * isdisjoint():-

. isdisjoint methode return True if two set have no intersection (no comman).
. if intersection(if common )it will return False.

In [46]:
s1 = {1,2,3}
s2 ={4,5,6}
s3 = {7,,9}
s1.isdisjoint(s2)

True

In [47]:
# there is no common that is why Ture.

In [50]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,5,9}
s2.isdisjoint(s3)

False

In [51]:
# besuse there is one item are which is common That,s why False.

In [52]:
s1.intersection(s2)  # s1 and s2 are disjoint.

set()

In [53]:
s2.intersection(s3)  # s2 and s3 are not disjoint

{5}

### Set.differance() :-

. diffrence methode return a new set with element in the set.
 that are not in the other specified sets.(it will remove common value).

In [54]:
seta = {1,2,3}
setb = {2,3,4}
print(seta-setb) # within set a remove set b item.
print(setb-seta) # within set b remove sert a item.

{1}
{4}

In [55]:
# Those which is not common have prinnted.

### * Set.symmetric_diffrence():-

. symmetric_difference methode return a new set with  item that
are either of the set but not in both.

In [60]:
setA = {1,2,3, 'siva'}
setB = {2,3,4}
setA.symmetric_difference(setB)

{1, 4, 'siva'}

In [61]:
# it print diffrent item

### issubset():-

. if all item of A present in B Then A is subset .(each and every item should be)
. issubset methode return 'True' if all item of 1st set is available in 2nd set
otherwise it return False.

In [62]:
A = {3,4,5}
B = {3,4,5,6}
A.issubset(B)

True

In [ ]:
# A is item in B.

In [63]:
B.issubset(A)

False

In [64]:
# becuse B item is not in A

### issuperset():-

. issuperset methode return 'Ture' if all item of 2nd set are avilable 
in 1st set, otherwise it return 'False'.

In [65]:
A = {3,4,5}
B = {3,4,5,6}
s = A.issuperset(B)
print(s)

False

In [66]:
s = B.issuperset(A)
print(s)

True

In [69]:
a = {11,12,13,14}
b = {11,12,13,14,15}
s = a.issuperset(b)
print(s)

False

In [70]:
s = b.issuperset(a)
print(s)

True

In [71]:
a = {1,2,3,4}
b = {2,1,3,4}
s = a.issuperset(b)
print(s)

True

In [72]:
s =b.issuperset(a)
print(s)

True

------------end-----------set----------------